**/__pycache__
**/.DS_Store
**/*.csv
**/*.npz
**/*.pdf
**/*.png
!scripts/time_complexity_plots/*
!extra_metrics/**/**/**/revision-stability/Train\ loss.*
**/*.pyc
**/*.sh
data/*
masks/*
plots/*
results/*
saved_models/*
tb/*
