colorama==0.4.6
graphlime==1.2.0
lime==0.2.0.1
matplotlib==3.7.1
numpy==1.23.5
opencv-python
pandas==2.0.0
pytftk==1.0
pyvista
seaborn==0.12.2
scikit-learn==1.2.2
tensorboardX
torch_geometric
tqdm
twine==5.1.1

